.populares{
    padding: 3rem 0rem;
}

.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: card-conteudo;
    padding: 1rem 0;
   
}

.populares__card{
    background-color: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;    
    padding-bottom: 2rem;
}

.populares__card:last-child{
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;

}

.populares__card___corpo{
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .1rem;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;    
    padding: .75rem;
}

.populares__card___titulo{
    color: #333652;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .4rem;
    text-align: center;
    width: 100%;
    background: rgba(89, 85, 85, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.populares__card___descricao{
    color: #333652;
    text-align: center;
    margin: .75rem 0;
    width: 100%;
}

.populares__titulo{
    color: #333652;
    font-size: 1.2rem;
}

.populares__icone{
    margin-right: .25rem;
}

.populares__cabecalho{
    color: #333652;
    border-bottom: 1px solid #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.populares__botao{
    color: #333652;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    margin-right: 1rem;
}

.populares__botao:hover{
    border-bottom: 2px solid #333652;
}